<a href="https://colab.research.google.com/github/DaliVan0411/DV/blob/main/18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
i = 0
while True:
  print(i)
  i+=1
  if i ==100:
    break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [3]:
for i in range(10000):
  print(i)
  if i ==100:
    break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [11]:
for i in range(100):
  if i % 2 ==0:
    continue
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [12]:
count = int(input('반복할 횟수를 입력하세요: '))
 
i = 0
while True:    
    print(i)
    i += 1
    if i == count:
        break

반복할 횟수를 입력하세요: 10
0
1
2
3
4
5
6
7
8
9

In [13]:
count = int(input('반복할 횟수를 입력하세요: '))
 
for i in range(count + 1):       
    if i % 2 == 0:              
        continue
    print(i)

반복할 횟수를 입력하세요: 9
1
3
5
7
9