<a href="https://colab.research.google.com/github/DaliVan0411/DV/blob/main/29.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def hello():
  print('Hello, world!')

In [2]:
hello()

Hello, world!

In [3]:
def add(a, b):
  print(a+b)

In [6]:
add(10, 20)

30

In [14]:
def add(a, b):
  return a + b
x = add(10 ,20)
print(x)
print(add(10, 20))

30
30

In [15]:
def one():
  return 1
x = one()
print(x)

1

In [20]:
def not_ten(a):
  if a == 10:
    return 
  print(a, '입니다',sep='')

In [23]:
not_ten(5)

5입니다

In [24]:
not_ten(10)

In [25]:
def add_sub(a, b):
  return a+b, a-b

In [27]:
x, y = add_sub(10, 20)
print(x)
print(y)

30
-10

In [28]:
x = add_sub(10, 20)
print(x)

(30, -10)

In [29]:
def mul(a, b):
  c = a*b
  return c

def add(a, b):
  c = a+b
  print(c)
  d = mul(a, b)
  print(d)
x = 10
y = 20
add(x, y)

30
200