<a href="https://colab.research.google.com/github/DaliVan0411/DV/blob/main/30.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def print_numbers(a, b, c):
  print(a)
  print(b)
  print(c)

In [ ]:
print_numbers(10, 20, 30)

10
20
30

In [ ]:
x = [10, 20, 30]
print_numbers(*x)

10
20
30

In [ ]:
print_numbers(*[10, 20, 30])

10
20
30

In [ ]:
def print_numbers(*args):
  for arg in args:
    print(arg)

In [ ]:
print_numbers(10)

10

In [ ]:
print_numbers(10, 20, 30, 40)

10
20
30
40

In [ ]:
x =[10]
print_numbers(*x)

10

In [ ]:
y=[10, 20, 30, 40]
print_numbers(*y)

10
20
30
40

In [ ]:
def personal_info(name, age, address):
  print('이름: ', name)
  print('나이: ', age)
  print('주소: ', address)

In [ ]:
personal_info('홍길동', 30, '서울시 용산구 이촌동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [ ]:
personal_info(name='홍길동', age=30, address='서울시 용산구 이촌동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [ ]:
print(10, 20, 30, sep=':', end='')

10:20:30

In [ ]:
def personal_info(name, age, address):
  print('이름: ', name)
  print('나이: ', age)
  print('주소: ', address)

In [ ]:
x = {'name': '홍길동', 'age': 30, 'address': '서울시 용산구 이촌동'}
personal_info(**x)

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [ ]:
personal_info(**{'name': '홍길동', 'age': 30, 'address': '서울시 용산구 이촌동'})

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [ ]:
def personal_info(**kwargs):
   for kw, arg in kwargs.items():
     print(kw, arg, sep=':')
personal_info(name='홍길동')

name:홍길동

In [ ]:
personal_info(name='홍길동', age=30, address='서울시 용산구 이촌동')

name:홍길동
age:30
address:서울시 용산구 이촌동

In [ ]:
def personal_info(**kwargs):
  if 'name' in kwargs:
    print('이름: ', kwargs['name'])
  if 'age' in kwargs:
    print('나이: ', kwargs['age'])
  if 'address' in kwargs:
    print('주소: ', kwargs['address'])

In [ ]:
def personal_info(name, **kwargs):
  print(name)
  print(kwargs)

In [ ]:
personal_info('홍길동')

홍길동
{}

In [ ]:
personal_info('홍길동', age=30, address='서울시 용산구 이촌동')

홍길동
{'age': 30, 'address': '서울시 용산구 이촌동'}

In [ ]:
personal_info(**{'name': '홍길동', 'age': 30, 'address': '서울시 용산구 이촌동'})

홍길동
{'age': 30, 'address': '서울시 용산구 이촌동'}

In [1]:
def personal_info(name, age, address='비공개'):
  print('이름: ', name)
  print('나이: ', age)
  print('주소: ', address)

In [2]:
personal_info('홍길동', 30)

이름:  홍길동
나이:  30
주소:  비공개

In [3]:
personal_info('홍길동', 30, '서울시 용산구 이촌동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동