<a href="https://colab.research.google.com/github/DaliVan0411/DV/blob/main/%EC%BD%94%EB%9E%A910.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

리스트

In [1]:
a = [38, 21, 53, 62, 19]
print(a)

[38, 21, 53, 62, 19]

In [2]:
person = ['james', 17, 175.3, True]
print(person)

['james', 17, 175.3, True]

빈 리스트 만들기

In [1]:
a = []
print(a)
b = list()
print(b)

[]
[]

In [2]:
a=list(range(10))
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
b=list(range(5,12))
print(b)

[5, 6, 7, 8, 9, 10, 11]

In [5]:
c=list(range(-4,10,2)) #(시작,끝,범위)
print(c)

[-4, -2, 0, 2, 4, 6, 8]

In [6]:
d=list(range(10,0,-1))
print(d)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

튜플

In [8]:
a = (38, 21, 53, 62, 19)
print(a)

(38, 21, 53, 62, 19)

In [9]:
a = 38, 21, 53, 62, 19
print(a)

(38, 21, 53, 62, 19)

In [10]:
a = tuple(range(10))
print(a)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [11]:
b = tuple(range(5, 12))
print(b)

(5, 6, 7, 8, 9, 10, 11)

In [12]:
c = tuple(range(-4, 10, 2))
print(c)

(-4, -2, 0, 2, 4, 6, 8)

튜플을 리스트로 리스트를 튜플로

In [13]:
a = [1, 2, 3]
print(tuple(a))

(1, 2, 3)

In [14]:
b = (4, 5, 6)
print(list(b))

[4, 5, 6]

리스트를 생성할 때는 대괄호를 사용하고, 튜플을 생성할 때는 괄호를 사용

In [15]:
a, b, c = [1, 2, 3]
print(a, b, c)

1 2 3

In [16]:
d, e, f = (4, 5, 6)
print(d, e, f)

4 5 6

In [17]:
x = [1, 2, 3]
a, b, c = x
print(a, b, c)

1 2 3

In [18]:
y = (4, 5, 6)
d, e, f = y
print(d, e, f)

4 5 6

리스트와 튜플을 사용하면 변수 여러 개를 한 번에 만들 수 있지만, 이때 변수의 개수와 리스트 및 튜플의 요소 개수는 같아야 함

In [22]:
x=input().split()
a, b = x
print(a, b)

10 20
10 20